* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

section {
  padding: 3rem;
}

/* MOBILE NAV */

.section-nav {
  background-color: #fdf2e9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  width: 4.5rem;
  height: 4.5rem;
  color: #e67e22;
}
.menu-icon-user {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.mobile-menu {
  display: none;
}

.burguer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  height: 2.2rem;
  margin: 1.6rem 0;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
/* outline-offset: 8px; */
/* box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
} */

a:hover,
a:active {
  text-decoration: none;
}

/* HERO SECTION */

.section-hero {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  position: relative;
}

.hero-img {
  display: none;
}

.main-title {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
}

.hero-text p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 2.4rem 0;
}

.btn {
  padding: 1rem 2rem;
  background-color: #e67e22;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  border: none;
  border-radius: 8px;
}

.btn-ghost {
  background-color: white;
  color: #e67e22;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customer {
  width: 5rem;
  border-radius: 50%;
  border: 0.3rem solid #fdf2e9;
  margin-left: -1rem;
}

.hero-customers {
  text-align: center;
  margin-top: 2rem;
}

.customer:first-child {
  margin-left: 0;
}

.orange {
  color: #cf711f;
}

.hero-numeralia-text {
  text-align: center;
}

/*
FEATURED IN
*/

.section-featured-in {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.span-featured-in {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.logo {
  height: 3.2rem;
  margin: 2rem 0;
  filter: brightness(0);
  opacity: 50%;
}

/* DIVIDER */

.divider-text {
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.divider-title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

/* HOW IT WORKS */

.section-how-it-works {
  position: relative;
  width: 100%;
  height: 100%;
  border-color: #e67e22;
  overflow: hidden;
}

.how-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  max-width: 50rem;
}

.how-number {
  color: #dddddd;
  font-size: 7rem;
  font-weight: 700;
}

.how-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.how-description {
  font-size: 1.8rem;
  height: 100%;
}

.mobile {
  width: 100%;
  transform: scale(1.7) rotate(-20deg) translateY(35%) translateX(15%);
  max-width: 50rem;
}

.mobile2 {
  width: 100%;
  transform: scale(1.7) rotate(20deg) translateY(20%) translateX(-30%);
  max-width: 50rem;
}

.mobile3 {
  width: 100%;
  transform: scale(1.7) rotate(-20deg) translateY(15%) translateX(20%);
  max-width: 50rem;
}

.how-img {
  width: 30%;
  height: 30%;
}

.item {
  max-width: 50rem;
  min-height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.item2 {
  min-width: 100%;
  max-width: 50rem;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.item3 {
  max-width: 50rem;
}

/* Meals section */

.meals-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  border-radius: 0.8rem;
  position: relative;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 18%;
  transform: translateY(-25%);
}

.arrow-right,
.arrow-left {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.arrow-right {
  margin-right: -5%;
}
.arrow-left {
  margin-left: -5%;
}

.arrow-icon {
  color: #cf711f;
  font-size: 5rem;
}

.card {
  background-color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1fr;
}

.card-pic {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-description {
  padding: 3rem;
  display: grid;
  gap: 1rem;
}

.tag {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #51cf66;
  display: inline-block;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.card-icon {
  font-size: 2rem;
  color: #cf711f;
  margin-right: 1.5rem;
}

.card-list {
  font-size: 1.8rem;
  list-style: none;
}

.card-list li {
  margin-bottom: 2rem;
}
